body{font-family: 'Poppins', sans-serif;}
footer {padding-left: 15px;padding-right: 15px;background-color: #FAEBD7;}
container {
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
div.dataTables_wrapper {
        width: 800px;
        margin: 0 auto;
    }